.contact-bg{
    height: 100%;
    background: url("../../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  h6{
    color: #897bfc;
  }
  span{
    padding-right: 10px;
  }