.navbar-logo{
    height: 80px;

}
#navButton{
    background-color: #897bfc;
    color:white;
}
/* #navbarNav ul li{
 padding: 20px;
}
#navbarNav ul li a{
    font-weight: 500;
    font-size: 18px;
} */