.header-bg{
    height: 100%;
    background: url("../../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
 .title-des{
  margin-top: 15%;
 }
 .banner-img img{
    width:500px;
    height: auto;
 }
 .header_content h1{
  font-size: 3em;
  /* color:#897bfc; */
  font-weight:bold;
 }
 .header_content h3{
  font-weight: 500;
  color: #8147f5;
  margin-bottom: 10px;
}
.header_content h2 {
  color: #8147f5;
  font-weight: bold;
}
 .header_content p{
    line-height: 15px;
    font-size: 16px;
    font-weight: 300;
  }
  .header_icons{
      font-size: 30px;
  }
  .header_icons a{
    padding: 4px 5px;
    border-radius: 50%;
    color: #8147f5;
    margin: 10px;
    
  }
  