.header-bg{
    height: 100vh;
    background: url("../../images/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
 /* .header_content{
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
 } */
 .title-des{
  margin-top: 15%;
 }
 .banner-img img{
    width:500px;
    height: auto;
 }
 .header_content h1{
     font-weight: 700;
     color: #897bfc;
     margin-bottom: 10px;
 }
 .header_content h2{
  font-weight: 400;
  color: #897bfc;
  margin-bottom: 10px;
}
 .header_content h3{
    font-weight: 500;
    animation: textanimation 1s  ease-in-out;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}
 .header_content p{
    line-height: 15px;
    font-size: 16px;
    font-weight: 300;
  }
  .header_icons{
      font-size: 30px;
  }
  .header_icons a{
    padding: 3px 6px;
    border-radius: 50%;
    color: #897bfc;
    margin: 10px;
  }