.about-bg{
    height: 100%;
    background: url("../../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .email-line{
      color:#897bfc;
  }
  .title-des{
      margin:0px auto;
  
  }
  .banner-img{
     padding: 40px;
  }
  .skill-icon img{
      height: 130px;
      margin: 20px 0px;
      border: none;
      background: #645757;
      box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      transition: all 1s;
}
  .skill-icon span{
    margin: 0px 20px;
   
}

.skill-icon img:hover{
    transform: scale(1.4); 
}