.project-card{
    height: 430px ;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 1s;
}
.project-card:hover{
    transform: scale(1.2); 
}
.project-btn button{
    background-color: #897bfc;
    
}
.project-btn button:hover{
    color:white;
    background-color: rebeccapurple;
}
